.advantages {
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding-bottom: 31px;
    border-bottom: 1px solid $border-color--lighten;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 12px;
    border: none;
  }
}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-main--darkest;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 62px;
    row-gap: 31px;
    counter-reset: section;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 78px;
  }
}

.advantages__item {
  margin-bottom: 26px;
  padding-left: 80px;
  position: relative;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 143px;
    padding-right: 70px;
    counter-increment: section;
    min-height: 260px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }

  &::before {
    content: "";

    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $btn-basic-color;
    left: -1px;
    top: -2px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      top: 32px;
    }
  }

  &--healthy::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 40px 40px;
    }
  }

  &--product::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 40px 40px;
    }
  }

  &--ration::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 40px 40px;
    }
  }

  &--time::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 40px 40px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: counter(section);
      position: absolute;
      font-family: "Oswald", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: $gray--lighten;
      top: -10px;
      right: 80px;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      right: 0;
    }
  }

  &--healthy::after {
    @media (min-width: $tablet-width) {
      right: 90px;
    }

    @media (min-width: $desktop-width) {
      right: 17px;
    }
  }
}
