.advantages {
  outline: 5px solid greenyellow;
  outline-offset: -5px;
}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-main--darkest;
  margin: 0;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}
