.catalog {
  outline: 5px solid khaki;
  outline-offset: -5px;
  margin: 0 auto;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  row-gap: 19px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 63px;
  }
}
