.catalog {
  margin: 0 auto;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 68px;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 71px;
    margin-bottom: 73px;
  }
}

.catalog__item {
  border-bottom: 1px solid $gray--light;
  margin: 0 -20px;

  @media (min-width: $tablet-width) {
    min-width: 324px;
    border: none;
    margin: 0;
    padding-top: 74px;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
  }
}
