.catalog {
  outline: 5px solid khaki;
  outline-offset: -5px;
  margin: 0 auto;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  row-gap: 19px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.catalog__item {
  border-bottom: 1px solid $gray--light;
  padding: 8px 0 11px;
  margin: 0 -20px;

  @media (min-width: $tablet-width) {
    min-width: 324px;
    border: none;
    margin: 0;
    padding-top: 81px;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
  }
}
