.control {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
    justify-content: space-between;
    padding-left: 75px;
  }
}

.control__button {
  border: none;
  background: inherit;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dashed $color-main--darkest-24;

    &:focus,
    &:hover {
      border-bottom: 1px solid $color-main--darkest-40;
    }

    &:active {
      border: none;
    }

    &--before {
      margin-right: 15px;

      @media (min-width: $desktop-width) {
        margin: 0;
      }
    }
  }
}

.control__range-filter {
  margin: 0 15px;
}
