.contacts {
  position: relative;
}

.contacts__wripper {
  display: flex;
  padding: 28px 0 25px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 62px 41px 51px;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-main--lighten;
    width: 570px;
    outline: 5px solid yellowgreen;
    position: absolute;
    z-index: 2;
    top: 95px;
  }
}

.contacts__text {
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
  color: $color-main--darken;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 171px;
  }
}

.contacts__address {
  width: 50%;
  font-family: "Arial", sans-serif;
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 159px;
  }
}
