.contacts {
  background-color: $basic-white;
}

.contacts__text {
  font-size: 16px;
  text-transform: uppercase;
  color: $text-color-gray;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  line-height: 20px;
}
