.example {
  outline: 5px solid tomato;
  outline-offset: -5px;
  background-color: $gray;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-main--darkest;
}

.example__info {
  font-family: "Arial", sans-serif;
}
