.example {
  background-color: $gray;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    background-color: $color-main--lighten;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, transparent 180px, $gray--lighten 180px);
  }
}

.example__wrapper {
  display: block;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 66px;
  }
}

.example__info {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 250px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 441px;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 33px;
  color: $color-main--darkest;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 140px;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  margin: 0;
  margin-bottom: 25px;
  padding-right: 14px;

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
    margin-bottom: 54px;
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.example__table {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 31px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column-gap: 42px;
  }
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  color: $color-main--darkest;
  border: 1px solid $gray--darken;
  border-radius: 3px;
  padding: 15px 0 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
  }
}

.example__description {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  margin: -12px 12px 0;
  background-color: $gray;
  grid-row: 2 / 2;

  @media (min-width: $tablet-width) {
    background-color: $color-main--lighten;
    font-size: 14px;
    line-height: 14px;
    margin: -10px 12px 0;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $gray--lighten;
  }
}

.example__price {
  line-height: 20px;
  color: $color-main--darkest;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: right;
    margin-top: 10px;

    @media (min-width: $desktop-width) {
      margin-top: 55px;
      display: flex;
    }
  }
}

.example__price span {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 60px;
  }
}

.example__slider {
  margin-top: 37px;
  background-color: $gray;

  @media (min-width: $desktop-width) {
    background: none;
    margin: 0;
  }
}
