.footer-nav__wrapper {
  padding-top: 39px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 61px;
  }
}
