.footer-nav__wrapper {
  padding-top: 42px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
  }
}
