.input-radio {
  padding: 0 20px;
  margin: 0;
  border: none;
  border-bottom: 1px solid $border-color--light;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    border: none;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 0;
  }
}

.input-radio__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 25px;
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    border: 1px solid $gray--dark;
    padding-left: 20px;
  }
}

.input-radio__item {
  margin-bottom: 24px;
  padding-left: 45px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 68px;
  }
}

.input-radio__label {
  font-size: 16px;
  text-transform: uppercase;
  color: $color-main--dark;
  display: block;
  position: relative;

  &::before {
    content: "";

    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid $gray--darken;
    border-radius: 50%;
    left: -45px;
    top: -3px;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      left: -58px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.input-radio__input:checked + .input-radio__label::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: $btn-basic-color;
  border-radius: 50%;
  left: -37px;
  top: 5px;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    left: -47px;
    top: 8px;
  }
}

.input-radio__input:hover + .input-radio__label::before {
  border-color: $hover-color;
}

.input-radio__input:active + .input-radio__label {
  opacity: 0.3;
}
