.input-checkbox {
  border: none;
  color: $color-main--darkest;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    margin-bottom: 27px;
  }
}

.input-checkbox__title {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 39px;
  margin-left: -20px;
  padding: 0 20px;
  background: $color-main--lighten;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin-bottom: 62px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    margin-left: -40px;
  }
}

.input-checkbox__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 17px;
    column-gap: 58px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 78px;
    padding: 0;
  }
}

.input-checkbox__item {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-left: 46px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 59px;
  }
}

.input-checkbox__label {
  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -6px;
    left: -58px;
  }
}

.input-checkbox__box {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid $gray--darken;
  left: 0;
  top: -4px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.input-checkbox__input:checked + .input-checkbox__box {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.1 15.5' style='fill: %2368b738;' xml:space='preserve'%3E%3Cpolygon class='st77' points='20.1,0 7.7,13.3 1,6.1 0,7.2 7.6,15.4 7.7,15.5 21,1.2 21.1,1.1 '/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
}

.input-checkbox__box:hover {
  border-color: $hover-color;
}

.input-checkbox__box:active {
  border-color: $hover-color-30;
}

.input-checkbox__label:active,
.input-checkbox__input:active {
  border-color: $hover-color-30;
  color: $color-main--darkest-30;
}
