.logo {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    text-align: left;
    padding-top: 10px;
  }
}

.logo__link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
