.nutrition {
  color: $color-main--lighten;
  outline: 5px solid coral;
  outline-offset: -5px;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat top center,
    linear-gradient(to bottom, #64a93c 305px, white 100px);
  margin-bottom: 22px;
  text-align: center;
  padding-top: 27px;

  @media (min-resolution: 2dppx) {
    background: url("../img/index-background-mobile@2x.jpg") no-repeat top center,
      linear-gradient(to bottom, #64a93c 305px, white 100px);
    background-size: 320px 305px, 305px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    color: $color-main--darkest;
    text-align: left;
    padding-top: 62px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-top: 90px;
    margin-bottom: 82px;
  }
}

.nutrition__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
    padding-left: 80px;
  }
}

.nutrition__text {
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-left: 80px;
  }
}

.nutrition__button {
  padding: 9px 44px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 14px 26px;
    position: absolute;
    top: 300px;
    left: 110px;
  }
}

.nutrition__img {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: 609px;
    object-fit: contain;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    display: block;
    margin-left: 380px;
    margin-top: -290px;
  }
}
