.nutrition {
  color: $color-main--lighten;
  outline: 5px solid coral;
  outline-offset: -5px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.nutrition__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.nutrition__text {
  line-height: 14px;
  text-transform: uppercase;
}
