.page-main__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-main--darkest;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 91px;
  }
}
