.page {
  height: 100%;
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 18px;
  font-weight: 400;
}

.page__body {
  min-height: 100%;
  margin: 0;
  color: $color-main;
}
