.product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 20px;

  &--all {
    display: block;
    text-align: center;

    @media (min-width: $tablet-width) {
      border: 2px solid $gray--lighten;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0 36px 40px;
  }
}

.product-card:not(.product-card--all) {
  @media (min-width: $tablet-width) {
    background-color: $gray--lighten;
  }
}

.product-card__link {
  display: block;
  text-align: center;
}

.product-card__link img {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
    object-fit: cover;
    margin-top: -81px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
    object-fit: cover;
  }
}

.product-card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-main--dark;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 145px;
    text-align: center;
    margin: 0 auto;
    margin-top: 34px;

    br {
      display: none;
    }
  }
}

.product-card__table {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-top: 21px;
    margin-bottom: 33px;
  }
}

.product-card dt {
  @media (min-width: $tablet-width) {
    padding: 7px 0 9px;
    border-bottom: 1px solid gray;
  }
}

.product-card dd {
  margin: 0;
  text-align: end;

  @media (min-width: $tablet-width) {
    padding: 7px 0 9px;
    border-bottom: 1px solid gray;
  }
}

.product-card__button {
  padding: 10px 109px;
  grid-column: 1/-1;

  @media (min-width: $desktop-width) {
    padding: 10px 53px;
  }

  &--gray {
    padding: 10px 79px;
    color: $color-main;
    background-color: $gray--lighten;

    @media (min-width: $desktop-width) {
      padding: 10px 39px;
    }
  }
}
