.product-card {
  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product-card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-main--dark;
}

.product-card__table {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
