.range-filter {
  width: 84px;
  height: 12px;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  padding: 2px 6px;
  align-self: center;
}

.range-filter__scale {
  width: 50%;
  height: 6px;
  background: #68b738;
  border-radius: 6px;
}
