.ration {
  outline: 5px solid blueviolet;
  outline-offset: -5px;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.ration__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.ration__item {
  background-color: $gray--lighten;
}

.ration-card {
  padding: 30px 20px 18px;
  position: relative;

  &--loss::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 50px;
    top: 20px;
    left: 27px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-cat-slim.svg");

    @media (min-width: $tablet-width) {
      display: block;
      width: 140px;
      height: 192px;
      top: 70px;
      left: auto;
      right: 90px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      display: block;
      left: 70px;
      top: 40px;
    }
  }

  &--gain::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    top: 34px;
    left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-cat-pro.svg");

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      left: auto;
      top: 135px;
      right: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      display: block;
      top: 62px;
      left: 39px;
    }
  }

  &::before {
    content: "";

    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $btn-basic-color;
    border-radius: 50%;
    top: 24px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      right: 50px;
      top: 81px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      left: 53px;
      top: 50px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 77px 53px 60px 53px;
  }
}

.ration-card__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $color-main--darkest;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.ration-card__info {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-color--light;

  @media (min-width: $tablet-width) {
    border: none;
    padding-right: 210px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.ration-card__link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-main--darkest;
  padding-top: 15px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-right-arrow-long.svg");
    top: 18px;
    left: 100px;

    @media (min-width: $tablet-width) {
      top: 25px;
      left: 130px;
    }
  }
}
