.site-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-list__item {
  padding: 21px 0 22px;
  border-top: 1px solid $border-color--lighten;
  text-align: center;
  position: relative;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: 1px solid $border-color--lighten;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 35px;
    border: none;
    padding: 17px 0 22px;

    &:last-child {
      margin-right: 0;
      border: none;
    }

    &--active::after {
      content: "";
      position: absolute;
      bottom: 15px;
      width: 100%;
      height: 2px;
      display: block;
      background-color: $btn-basic-color;
    }
  }
}

.site-list--color--white .site-list__item::after {
  background-color: $color-main--lighten;
}

.site-list a {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-main--darkest;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &:focus,
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list--color--white a {
  @media (min-width: $desktop-width) {
    color: $color-main--lighten;
  }
}
