.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $border-color--light;
  border-bottom: 1px solid $border-color--light;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
