.contacts {
  position: relative;
}

.contacts__wripper {
  display: flex;
  padding: 28px 0 25px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 62px 41px 58px;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-main--lighten;
    width: 570px;
    position: absolute;
    z-index: 2;
    top: 95px;
  }
}

.contacts__text {
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
  color: $color-main--darken;
  margin: 0;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
    padding-right: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 34px;
    padding-right: 0;
  }
}

.contacts__address {
  width: 50%;
  font-family: "Arial", sans-serif;
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-left: 40px;
  }
}

.contacts__address span {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
  }
}
