$basic-green: #68b738;
$basic-background: #f2f2f2;
$grey-border:#cdcdcd;
$special-grey-border: #e7e7e7;
$grey-hover: #ebebeb;
$special-text-color: #666666;
$basic-text-color: #444444;
$text-color-gray: #111111;
$title-color: #222222;
$error-color: #ff8282;
$basic-green2: #5eaa2f;
$basic-black: #000000;
$basic-white: #ffffff;
$background-gray:#eaeaea;
