$btn-basic-color: #68b738;
$btn-hover-color: #5eaa2f;
$error-color: #ff8282;

$border-color--lighten: #e6e6e6;
$border-color--light: #d9d9d9;

$gray--lighten:#f2f2f2;
$gray--light: #ebebeb;
$gray: #eaeaea;
$gray--dark: #e7e7e7;
$gray--darken:#cdcdcd;

$color-main--lighten: #ffffff;
$color-main--light: #666666;
$color-main: #444444;
$color-main--dark: #222222;
$color-main--darken:#111111;
$color-main--darkest: #000000;

$tablet-width: 768px;
$desktop-width: 1340px;
$mobile-width-only: 767px;
